header {
    min-height: 75px;
    background-color: #2C3E50;
}

section {
    border: 2px dashed orange;
    min-height: 500px;
}

/* Section bg-color  */

#start, #about {
    background-color: #1ABC9C;
}


#start [class^="container"] {
    border: 1px dashed green; 
}

[class^="col"] {
    border: 1px solid dodgerblue;
    min-height: 50px;
}

img {
    max-width: 100%;
}

footer {
    min-height: 75px;
    background-color: rgb(44,62,80);
}

/* Utils  */

.h-250 {
    height: 250px;
}